.language__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 37.5%;
    margin-block-end: 0%;
    margin-bottom: 0%;
    width: 25%;
    height: 25%;
}

/*  MEDIA QUERIES  */
/* for medium screens such as tablets */
@media screen and (max-width: 1024px) {
    .language__container {
        margin-left: 7.5%;
        width: 85%;
        height: 85%;
    }
}

/*  MEDIA QUERIES  */
/* for smaller screens such as phones */
@media screen and (max-width: 600px) {
    .language__container {
        margin-left: 7.5%;
        width: 85%;
        height: 85%;
    }
}