.experience__timeline {
  width: 950px;
  height: 450px;
  margin-left: 20%;
}

/*  MEDIA QUERIES  */
/* for medium screens such as tablets */
@media screen and (max-width: 1024px) {
  .experience__timeline {
    width: 450px;
    height: 450px;
    margin-left: 15%;
  }
}

/*  MEDIA QUERIES  */
/* for smaller screens such as phones */
@media screen and (max-width: 600px) {
  .experience__timeline {
    width: 300px;
    height: 450px;
    margin-left: 5%;
  }
}